input {
  border: 0;
  outline: none;
}
input[type=button],
input[type=text],
input[type=password],
input[type=submit] {
  -webkit-appearance: none;
  outline: none
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
  font-size: 14px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  font-size: 14px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
  font-size: 16px;
}
.passwordlogin{
    background: #fff;
    height: 100%;
}
.password_login_img {
    width: 100%;
    height: 150px;
}
.password_mid_img{
    width: 90px;
    height: 90px;
    margin: 60px auto;
}
.password_log_mobile{
  width: 60%;
  position: relative;
  margin: 20px auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid;
}
.password_log_num {
   position: absolute;
   left: 50px;
   bottom: 5px;
   border: 0;
   outline: none;
   background: none;
   font-size: 14px;
   height: 20px;
}
.password_mobile_img{
    width: 30px;
    height: 30px;
    float: left;
    position: absolute;
    bottom: 3px;
    left: 10px;
}
.password_log_agree{
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
    margin-top: 50px;
}
.forgetpassword{
  width: 50%;
  float: right;
}
.message_login{
  width: 60%; 
  color: #e02525;
  margin: auto;
  padding: 0;
}
.passwordlogin_button {
   width: 345px;
   height: 45px;
   background-color: #e02525;
   color: #fff;
   line-height: 45px;
   border-radius: 5px;
   margin: 40px auto;
   font-size: 15px;
  cursor: pointer;
}
.gobackIcon {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 10;
  width: 30px !important;
  height: 30px;
}