ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}
input{
  outline: none;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
  font-size: 14px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  font-size: 14px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
  font-size: 14px;
}
.detail{
  height: 100%;
  /* overflow: hidden; */
}
.detail_top{
  height: 25%;
  width: 100%;
}
.detail_top_img{
  width: 100%;
  height: 100%;
}
.detail_info{
  position: relative;
  width: 100%;
  background: #fff;
 border-top-left-radius: 13px;
 border-top-right-radius: 13px;
  top: -20px;
  z-index: 10;
  height: 80%;
}
.detail_title{
 padding-top: 20px;
 font-weight: bold;
}
.match_middle{
  display: flex;
  align-content: center;
  justify-content: center;
}
.match_detail_info{
 width: 50%;
 margin: 10px 0;
}
.detail_img{
  /* width: 30px;*/
  height: 30px; 
}
.detail_time{
  margin: 10px auto;
}
.enrollNumber{
  outline: none;
  border: oldlace;
  width: 77%;
  font-size: 15px;
  height: 31.5px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 7px;
  color: #afafaf;
  margin-top: 16px;
  float: left;
}
.checkenroll{
     height: 30px;
     line-height: 30px;
     display: block;
     border: 1px solid #ff0000;
     border-radius: 7px;
     color: #ff0000;
     font-size: 14px;
     width: 120px;
     margin: 16px auto;
     /* position: fixed;
     bottom: 10px;
     left: 50%;
     margin-left: -60px; */
}
.type_text_left{
  color: #999999;
  padding-left: 20px;
  font-size: 15px;
}
.type_text_right {
    color: #999999;
    font-size: 15px;
    position: absolute;
    right: 30px;
    top: 27px;
}
.detail_place_info{
  height: 20px;
  line-height: 20px;
  color: #999999;
  font-size: 15px;
}
.detail_line{
  height: 63.5px;
  line-height: 63.5px;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.match_project{
  font-weight: bold;
  margin: 20px auto;
}
.project_temp{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  border-top: 1px solid #f2f2f2;
  width: 90%;
  margin: 0 auto;
}
.project_left{
  width: 50%;
  text-align: left;
  height: 50px;
  line-height: 25px;
  margin-top: 3px;
}
.project_right {
 width: 50%;
 text-align: right;
 height: 50px;
 line-height: 25px;
 margin-top: 3px;
 position: relative;
}
.type_left {
     padding-top: 5px;
     padding-left: 20px
}
.type_right{
  position: absolute;
  right: 20px;
    width: 60px;
  text-align: center;
  background: #e02525;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  top: 3px;
}
.gobackIcon {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 10;
  width: 30px !important;
  height: 30px;
}
@media screen and (min-height: 700px) {
  .detail_info {
  position: relative;
  width: 100%;
  background: #ffffff;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  top: -30px;
  z-index: 10;
  height: 80%;
  }
}