input {
  border: 0;
  outline: none;
  height: 30px;
  margin: 5px;
  font-size: 15px;
  color: #000;
}
select{
    -moz-appearance:none;
    -webkit-appearance:none;
}
.img{
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
.finishCompletion{
   width: 90%;
   margin: 0 auto;
   background: #fff;
   position: relative;
   top: 20px;
   border-radius: 10px;
   color: #999999;
}
.Completion_top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    margin-left: 20px;
    position: relative;
}
.finishCompletion_number{
   color: #999999;
   font-size: 15px;
   margin-right: 10px;
}
.finishCompletion_upText{
     color: #999999;
     font-size: 15px;
     text-align: left;
     margin: 10px 20px;
}
.Completion_reward{
    float: left;
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}
.Completion_good{
    float: right;
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
}
.upImg{
    margin-left: -170px;
    width: 120px;
}
.finishCompletion_icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background-image: url("../total_img/finishCompletion_reward.png");
    background-repeat: no-repeat;
     background-size: 100% 100%;
}
.finishCompletion_reward{
    margin-left: 10px;
}
.finishCompletion_littleIcon{
  height: 20px;
  width: 20px;
  margin-right: 10px;
background-image: url("../total_img/finishCompletion_good.png");
background-repeat: no-repeat;
background-size: 100% 100%;
     
}
.el-input__prefix {
  display: none;
}
.finishCompletion_Review{
   width: 90%;
   margin: 60 auto;
   background: #db2424;
   height: 40px;
   line-height: 40px;
   border-radius: 5px;
   color: #fff;
}
.addimage-input {
  width: 6rem;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0 !important;
  outline: none;
  border: none !important;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.addimage {
  width: 6rem;
  height: 6rem;
  display: inline-block;
  border: 0;
  background-image: url("../total_img/up_Completion.png");
  background-position: center center;
  background-size: contain;
  position: relative;
}
.gobackIcon {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 10;
  width: 30px !important;
  height: 30px;
}
